@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 16, 18, 54;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.gradient-01 {
  background-image: linear-gradient(
    270deg,
    hsl(0, 93%, 39%) 0%,
    hsl(186, 88%, 38%) 26%,
    hsl(0, 92%, 30%) 74%,
    hsl(222, 93%, 24%) 100%
  );
  filter: blur(150px);
}

.gradient-02 {
  background: rgb(67, 58, 180);
  background: linear-gradient(
    90deg,
    rgb(72, 42, 238) 0%,
    rgb(3, 195, 134) 50%,
    rgb(72, 42, 238) 100%
  );
  filter: blur(120px);
  opacity: 0.5;
}

.explore-gradient {
  background: linear-gradient(
    90deg,
    #a509ff 0%,
    #1e089e 60%
  );
  filter: blur(200px);
  opacity: 0.7;
  border-radius: 50%;
}
